{% extends 'back.html.twig' %}

{% block content %}

    <div class="box">
    <center>
        <div class="box-header">
            <h3 class="box-title">List des Types</h3>
        </div>
    </center>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6">
                    <div class="dataTables_length" id="example1_length">
                 <div class="row">

                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">

                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 112px;">Type</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 112px;">Action</th>

                    </tr>

                    </thead>
                    {% for t in type %}

                    <tbody>

                    <tr role="row" class="odd">
                        <td class="sorting_1">{{ t.type }}</td>



                        <td><a type="button" class="btn btn-block btn-danger btn-lg" href="{{ path('Type_Delete',{'id':t.id})}}">Supprimer</a></td>

                    </tr></tbody>
                    {% endfor %}
                </table>

            </div>

        </div>

    </div>


{% endblock %}